body {
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.a{
    position: relative;
    width: 1000px;
    margin: 150px auto 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 40px;
    
}

.container .card{
    position: relative;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    transition: 0.5s;
}

.container .card .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .card:hover .img-box{
    opacity: 0.5;
    
}

.container .card .img-box img{
    width: 100%;

}

.container .card .content{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    box-sizing: border-box; 
    text-align: center;
    transition: 0.54s;
    }

.container .card:hover .content{
    bottom: 0;
}


.container .card:nth-child(1) .content{
    background: linear-gradient(0deg, #c21833, transparent);
}

.container .card:nth-child(2) .content{
    background: linear-gradient(0deg, #8012a5, transparent);
}

.container .card:nth-child(3) .content{
    background: linear-gradient(0deg, #3a414c, transparent);
}

.container .card .content h2{
    color: white;
    
}

.container .card .content p{
    color: white;
}

p{
 font-family: 'Montserrat', sans-serif; 
 font-size: 1.1rem;    

}

h2{
    font-family: 'Major Mono Display', monospace;
}